body {
  background-color: honeydew;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;

  fieldset {
    width: 100%;
    max-width: 900vw;
    margin: 0 auto 20px auto;
    border: solid 1px mediumturquoise;
    font-weight: 600;
    color: mediumturquoise;
    cursor: pointer;

    .none {
      font-weight: 300;
    }

    ul {
      li {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: row;
        margin-bottom: 10px;
        font-weight: 300;
      }
    }

    span {
      font-weight: 600;
      text-decoration: underline;
    }

    div {
      position: relative;
      height: 2.5em;
      margin: 1em;
      padding: 0.2em;
      border: 1px solid mediumturquoise;
      border-radius: 5px;
      font-size: 1.2em;
      line-height: 1.9em;
      text-align: center;

      &::before {
        content: attr(data-content);
        position: absolute;
        display: inline-block;
        left: 0.2em;
        width: 12em;
        height: 2em;
        padding: 0.2em;
        border-radius: 3px;
        background-color: mediumturquoise;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        line-height: 1.6em;
        text-shadow: 0.05em 0.05em teal;
        text-align: center;
        text-transform: capitalize;
        color: #fff;
      }
    }

    &:hover {
      & div::before {
        animation-play-state: paused;
      }
    }
  }
}

/* ------------------------------------------------ */

/* Keywords */

.from-to {
  font-weight: 300;

  &::before {
    animation: timing-from-to 5s infinite alternate;
  }
}

@keyframes timing-from-to {
  from {
    background-color: steelblue;
  }
  to {
    left: 100%;
    margin-left: -12.2em;
  }
}

.percents {
  font-weight: 300;

  &::before {
    animation: timing-percents 5s infinite alternate;
  }
}

@keyframes timing-percents {
  20% {
    animation-timing-function: ease-in;
  }
  40% {
    left: 40%;
    background: yellowgreen;
    animation-timing-function: ease-out;
  }
  60% {
    left: 60%;
    background: gold;
    animation-timing-function: ease-in;
  }
  100% {
    left: 100%;
    margin-left: -12.2em;
    background: crimson;
  }
}

/* ------------------------------------------------ */

/* Animation Timing Function */

.ease {
  font-weight: 300;

  &::before {
    animation: timing 5s infinite;
    animation-timing-function: ease;
  }
}

.linear {
  font-weight: 300;

  &::before {
    animation: timing 5s infinite;
    animation-timing-function: linear;
  }
}

.ease-in {
  font-weight: 300;

  &::before {
    animation: timing 5s infinite;
    animation-timing-function: ease-in;
  }
}

.ease-out {
  font-weight: 300;

  &::before {
    animation: timing 5s infinite;
    animation-timing-function: ease-out;
  }
}

.ease-in-out {
  font-weight: 300;

  &::before {
    animation: timing 5s infinite;
    animation-timing-function: ease-in-out;
  }
}

@keyframes timing {
  50% {
    left: 100%;
    margin-left: -12.2em;
  }
}

/* Cubic Bezier */

.cubic-bezier {
  font-weight: 300;

  &::before {
    animation: cubic 5s infinite;
    animation-timing-function: cubic-bezier(0.24, 1.49, 0.29, -0.48);
  }
}

@keyframes cubic {
  50% {
    left: 100%;
    margin-left: -12.2em;
  }
}

/* Step start & Step end */

.step {
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    font: bold 10em/1 Times;

    span {
      &::before,
      &::after {
        content: '0123456789';
        display: inline-block;
        width: 0.5em;
        margin: 0.1em auto 0;
        overflow: hidden;
        animation: step 10s infinite step-end;
        text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
      }

      &::before {
        animation-duration: 100s;
      }
    }

    &:hover {
      & span::before,
      span::after {
        animation-play-state: paused;
      }
    }
  }
}

@keyframes step {
  10% {
    text-indent: -0.5em;
  }
  20% {
    text-indent: -1em;
  }
  30% {
    text-indent: -1.5em;
  }
  40% {
    text-indent: -2em;
  }
  50% {
    text-indent: -2.5em;
  }
  60% {
    text-indent: -3em;
  }
  70% {
    text-indent: -3.5em;
  }
  80% {
    text-indent: -4em;
  }
  90% {
    text-indent: -4.5em;
  }
}

/* Steps */

.steps {
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;

    span {
      position: relative;
      width: 5em;
      height: 5em;
      margin: 1em auto;
      border: 0.2em solid mediumturquoise;
      border-radius: 50%;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
      font-size: 1.2em;

      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        width: 0.1em;
        height: 2.1em;
        left: 2.3em;
        top: 0.2em;
        background-color: mediumturquoise;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        animation: steps 60s infinite steps(60);
        transform-origin: 0 2.1em;
      }
    }

    &:hover {
      & span::before,
      span::after {
        animation-play-state: paused;
      }
    }
  }
}

@keyframes steps {
  100% {
    transform: rotate(360deg);
  }
}

/* ------------------------------------------------ */

/* Animation Delay */

.ease {
  &.s1 {
    &:before {
      animation-delay: 1s;
    }
  }
}

.ease {
  &.s3 {
    &:before {
      animation-delay: -3s !important;
    }
  }
}

/* ------------------------------------------------ */

/* Animation Direction */

.normal {
  font-weight: 300;

  &:before {
    animation: timing-direction 5s infinite;
    animation-direction: normal;
    background: yellowgreen;
    text-shadow: 0.05em 0.05em coral;
  }
}

.reverse {
  font-weight: 300;

  &:before {
    animation: timing-direction 5s infinite;
    animation-direction: reverse;
    background: gold;
    text-shadow: 0.05em 0.05em coral;
  }
}

.alternate {
  font-weight: 300;

  &:before {
    animation: timing-direction 5s infinite;
    animation-direction: alternate;
    background: orange;
    text-shadow: 0.05em 0.05em orangered;
  }
}

.alternate-reverse {
  font-weight: 300;

  &:before {
    animation: timing-direction 5s infinite;
    animation-direction: alternate-reverse;
    background: orangered;
    text-shadow: 0.05em 0.05em firebrick;
  }
}

@keyframes timing-direction {
  100% {
    left: 100%;
    margin-left: -12.2em;
  }
}

/* ------------------------------------------------ */

/* Animation Fill Mode */

.forwards:before {
  animation: timing-fill-mode 5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.backwards:before {
  animation: timing-fill-mode 5s;
  animation-delay: 3s;
  animation-fill-mode: backwards;
}

.both:before {
  animation: timing-fill-mode 5s;
  animation-delay: 3s;
  animation-fill-mode: both;
}

@keyframes timing-fill-mode {
  0% {
    left: -1em;
  }
  100% {
    left: 100%;
    margin-left: -11.2em;
  }
}
